html {
    padding: 30px;
}

body {
    font-family: Verdana;
    font-size: 11px;

}

table {
    cellpadding: 10px;
}
.links {
    padding-bottom: 20px;
}
.zakonchen_zakaz {
    padding: 10px;
}


.header_title {
    text-transform: uppercase;
    font-size: 10px;
}
